
<h4>Add New Board</h4>
<form class="" action="/" method="post">
<div class="form-group">
<label for="name">Name</label>
<input class="form-control" type="text" name="name">
<label for="category">Category</label>
<input class="form-control" type="text" name="category">
<button class="btn" type="submit" name="button">Enter</button>
</div>
</form>
